<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OpenEarable Tools</string>
    <key>CFBundleDisplayName</key>
    <string>OpenEarable Tools</string>
    <key>CFBundleIdentifier</key>
    <string>com.openearable.tools</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>OpenEarableTools</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>OpenEarable Tools needs Bluetooth access to connect to your OpenEarable device for time synchronization.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>OpenEarable Tools needs Bluetooth access to connect to your OpenEarable device for time synchronization.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
